<div class="container">
  <h1>{{ title }}</h1>
  <h1>adfadfgd gag dag gdf gdfgdgfdg</h1>
  <p>Welcome Mr. {{ user }}</p>
  <hr><br>

  <a href="/user/logout" class="btn btn-default btn-sm" >Logout</a>
</div>
